{% extends "app3/agenda/../_layouts/base.html" %}

{% load widget_tweaks %}

{% block title %}Cadastro de Funcionários{% endblock %}

{% block conteudo %}

<style>
.testbutton {
  font-family: "Poppins" , sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 45px;
  border: none;
  box-shadow: 1px 1px 1px #00F929;
  background: #FFFFFF;
  transition: 0.3s;
}
.testbutton:hover {
  color: #FFFFFF !important;
  background: #33CF1B;
  background: linear-gradient(to top, #33CF1B, #0C81E8);
  text-decoration: none;
  border: 2px groove #FFFFFF;
}
.testbutton:active {
  transform: translatey(8px);
}
.testbuttonv {
  font-family: "Poppins" , sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 45px;
  border: none;
  box-shadow: 1px 1px 1px #BF0000;
  background: #FFFFFF;
  transition: 0.3s;
}
.testbuttonv:hover {
  color: #FFFFFF !important;
  background: #800000;
  background: linear-gradient(to top, #FF0000, #E87715);
  text-decoration: none;
  border: 2px groove #FFFFFF;
}
.testbuttonv:active {
  transform: translatey(8px);
}
.container a .tool{
  position: fixed;
  z-index: 3;
  color: white;
  background:#4e555b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  opacity: 0;
  transition: 0s;
  pointer-events: none;
  white-space: nowrap;
  font-weight: 400;
  margin-left: 10px;
}
.container a:hover .tool{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  transform: translateY(-50%);
  top: 78%;
}
</style>

     <div class="container" style="padding-top: 25px; padding-bottom: 25px">
       <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="card">
             <div class="card-body">
                <h5 class="card-title">Cadastro de Funcionário</h5>
                <p class="card-text">Complete o formulário abaixo para cadastrar um novo <code>Funcionário.</code></p>

                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                                        <!-- Nome -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Nome</span>
                         </div>
                            {% render_field form.first_name class+="form-control" %}
                    </div>
                                           <!-- Sobrenome -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Sobrenome</span>
                         </div>
                            {% render_field form.last_name class+="form-control" %}
                    </div>
                                        <!-- Email -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">E-mail</span>
                         </div>
                            {% render_field form.email class+="form-control" placeholder="nome@exemplo.com" %}
                    </div>
                                        <!-- Usúario -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Usúario</span>
                         </div>
                            {% render_field form.username class+="form-control" %}
                    </div>
                                        <!-- Senha -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Senha</span>
                         </div>
                            {% render_field form.password class+="form-control" %}
                    </div>
                                        <!-- Nascimento -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Data de Nascimento</span>
                         </div>
                            {% render_field form.nascimento class+="form-control" %}
                    </div>
                                          <!-- CPF -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">CPF</span>
                         </div>
                            {% render_field form.CPF class+="form-control" placeholder="000.000.000-00" %}
                    </div>
                                        <!-- Telefone -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Telefone</span>
                         </div>
                            {% render_field form.telefone class+="form-control" placeholder="(43)00000-0000" %}
                    </div>
                                        <!-- Endereço -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Endereço</span>
                         </div>
                            {% render_field form.endereco class+="form-control" %}
                    </div>
                                            <!-- CTPS -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">CTPS</span>
                         </div>
                            {% render_field form.CTPS class+="form-control" %}
                    </div>
                                         <!-- Cargo -->
                    <div class="input-group mb-3">
                         <div class="input-group-prepend">
                               <span class="input-group-text">Cargo</span>
                         </div>
                            {% render_field form.cargo class+="form-control" %}
                    </div>

                       <hr>
                            <div class="text-center">
                                <a href="{% url 'app1:lista_funcionarios' %}">
                                    <i class='bx bx-x testbuttonv'
                                      style="border: none; font-size: 45px; padding-right: 20px; color: #BF0000">
                                    </i>
                                    <span class="tool">Cancelar</span>
                                </a>
                                <a>
                                   <button class='bx bx-check testbutton'
                                       style="border: none; font-size: 45px; padding-right: 20px; color: #2AAB16">
                                   </button>
                                    <span class="tool">Cadastrar</span>
                                </a>
                            </div>
                    <hr>
                </form>
             </div>
           </div>
         </div>
       </div>
     </div>
{% endblock %}
